.Marker {
  color: green;
}
.test {
  color: #b8b818;
}
.marker {
  color: rgba(79, 187, 79, 0.945);
  font-size: 0.2rem;
  cursor: pointer;
}
.marker-series {
  color: yellow;
  font-size: 0.5rem;
  cursor: pointer;
}

.style {
  width: 480px !important;
}

.map-pointer {
  cursor: pointer;
}

.button {
  background-color: black;
  border: none;
  border-radius: 5px;
  width: 1.5rem;
  height: 0.2rem;
  cursor: pointer;
}

.button:active,
.button:focus {
  outline: none;
}

.popup {
  position: relative;
}
.popup_paragraph {
}
.popup_paragraph_right {
  position: absolute;
  right: 0;
  top: 0;
}

.popup_paragraph_left {
  position: absolute;
  left: 0;
  top: 0;
}

.popup_header {
  font-size: 0.9rem;
}

.mapActive {
  color: rgba(198, 224, 198, 0.945);
  font-size: 0.2rem;
  cursor: pointer;
}

.map_size {
  width: 200px;
}
