/* .Music {
  transform: translateY(-8rem);
  top: 25%;
  left: 7%;
} */

/* .Music:focus,
.Music:active {
} */

.audio {
  border-radius: 5px !important;
  width: 25rem;
  /* height: 100%; */
  background-color: #dfdfdf0a !important;
  border-radius: 10px !important;
  color: ;
  transform: translateY(16px);
}

@media (max-width: 490px) {
  .audio {
    width: 20rem;
    transform: translate(-50px, 10px);
  }
}

@media (max-width: 440px) {
  .audio {
    width: 15rem;
    transform: translate(-85px, 10px);
  }
}

.audio:focus,
.audio:active {
  outline: none;
}
