@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700&display=swap");

.App {
  /* text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%; */
  display: inline;
}

.audio_player-container {
  min-width: 30rem;
  height: 8rem;
  position: relative !important;
}

.App .map {
  display: none;
}
