.display_box {
  position: relative;
  width: 30rem;
  height: 40vh;
  background-color: rgb(10, 9, 9);
  margin: 0 auto;
  opacity: 0;
  transform: all 0.5s;
}

.display_box-show {
  opacity: 1;
}

.image {
  position: absolute;
  width: 30rem;
  height: 60vh;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: all 0.5s;
}

.image_show {
  visibility: visible;
  opacity: 1;
}

.image > img {
  width: 30rem;
  height: 40vh;
  object-fit: cover;
}

.play_list {
  position: absolute;
  top: -1rem;
  left: 0;
  opacity: 0;
  width: 30rem;
  height: 60vh;
  visibility: hidden;
}

.play_list-show {
  opacity: 1;
  visibility: visible;
}

.display_Map {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.display_Map-show {
  opacity: 1;
  visibility: visible;
  display: block;
}

.Map {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.Map_show {
  opacity: 1;
  visibility: visible;
}
